<router-outlet>
  <h1>{{title}}</h1>

  <div>
    <p>{{user.name}}</p>
    <p>{{user.age}}</p>
  </div>

  <a href="#" [title]="subtitle">Linlk</a>

  <!--  PIPES -->
  <app-pipes></app-pipes>
  
  <!-- EVENTS -->
  <app-events></app-events>

  <!-- CHILD COMPONENTS -->
  <!-- one-way binding -->
<!-- 
  <app-child 
    [childName]="parentName"  
    [childColor]="color"
    (nameChange)="setNewNameFromChildComponent($event)" 
  >
  </app-child> -->

  <!-- two-way binding -->
  <app-child 
  [childColor]="color"
  [(childName)]="parentName"
>
<p style="color: red;" >
  HERE IS NG-CONTENT as P tag

</p>
<h3 style="color: blue;" someAttribute>
  HERE IS NG-CONTENT as h3 tag

</h3>
<article style="color: yellow;" class="some-css">
  HERE IS NG-CONTENT as article tag

</article>
<app-ng-content-example></app-ng-content-example>
</app-child>

<p>Parent component: {{parentName}}</p>
<button (click)="setNewNameFromChildComponent('The name changed by parent component')">The name changed by parent component</button>

</router-outlet>
