<router-outlet>
<h2>First h2</h2>

<ng-template #test let-defaultValue let-textHello="textHello" let-textWorld="textWorld">
  <h2>{{textHello}} {{textWorld}}!</h2>

  {{defaultValue}}

</ng-template>

<ng-container *ngTemplateOutlet="test; context: {$implicit: 'default Value', textHello: 'Hello', textWorld: 'World'}">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero magnam numquam ex exercitationem itaque fugiat explicabo dolor, aperiam perferendis, eaque provident fuga porro voluptate autem quos, doloremque laboriosam nostrum! Pariatur.
  Voluptas aspernatur reprehenderit, iure magni quidem harum eveniet! Aliquid soluta, sapiente sunt quam fuga quis veniam ipsam, similique inventore dolor dolorem doloremque recusandae dignissimos doloribus. Debitis nihil enim dolore incidunt.
  </p>
</ng-container>



<h2>Third h2</h2>

</router-outlet>
